body{
  background-color: #f5f7fc;
  margin: 0px;
  font-family: Sans-Serif;
}

#sidebar{
  width: 90px;
}

#gmailcompose{
  width: 290px;
}

.container1 {
  display: flex;
  flex-direction: row;
}

.container2 {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

.sidebar {
  width: 140px;
  height: 780px;
  background-color: #f5f7fc;
  color: white;
  padding: 20px;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar ul li {
  margin-bottom: 15px;
  margin-left: 10px;

}

.sidebar ul li a {
  color: #2d2d2e;
  text-decoration: none;
  transition: color 0.3s;
}

.sidebar ul li a:hover {
  background-color: #cbcbd1;
  border-radius: 15px;
  background-size: 190%;
}

.content {
  flex: 1;
  padding: 20px;
}

.icon-button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

.icon-button svg {
  width: 24px;
  height: 24px;
}

.cont1 {
  display: flex;
  flex-direction: row;
}

.cont2 {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

#backarrow {
  height: 40px;
  margin-top: 117px;
}

#title1 {
  font-size: 25px;
  margin-left: 35px;
  margin-top: 50px;
}

#searchbar {
  height: 60px;
  margin-top: 10px;
}

.emailheader {
  display: flex;
  flex-direction: row;
}

#name {
  font-size: 15px;
   margin-left: 2px;
}

#email {
  font-size: 10px;
  margin-right: 600px;
}
