body{
  background-color: #f5f7fc;
  margin: 0px;
  font-family: Sans-Serif;
}

#sidebar{
  width: 80px;
}

#gmailcompose{
  width: 290px;
}

.container1 {
  display: flex;
  flex-direction: row;
}

.container2 {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

.sidebar {
  width: 140px;
  height: 780px;
  background-color: #f5f7fc;
  color: white;
  padding: 20px;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar ul li {
  margin-bottom: 15px;
  margin-left: 10px;

}

.sidebar ul li a {
  color: #2d2d2e;
  text-decoration: none;
  transition: color 0.3s;
}

.sidebar ul li a:hover {
  background-color: #cbcbd1;
  border-radius: 15px;
  background-size: 190%;
}

.content {
  flex: 1;
  padding: 20px;
}

.icon-button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

.icon-button svg {
  width: 24px;
  height: 24px;
}

.cont1 {
  display: flex;
  flex-direction: row;
}

.cont2 {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

#backarrow {
  height: 40px;
  margin-top: 116px;
}

#title1 {
  font-size: 25px;
  margin-left: 35px;
  margin-top: 50px;
}

#searchbar {
  height: 60px;
  margin-top: 10px;
}

#flipscreen {
  width: 180px;
  margin-top: 50px;
}

.emailheader {
  display: flex;
  flex-direction: row;
  margin-top: 40px;
  margin-right: 15px;
}

#profilepic {
  height: 45px;
  margin-right: 10px;
  margin-top: 2px;

}

#name {
  font-size: 15px;
  margin-left: 2px;
  margin-right: 10px;
}

#email {
  font-size: 10px;
  margin-right: 500px;
  margin-top: 18px;
}

#time {
  font-size: 10px;
  margin-top: 21px;
}

#greeting {
  margin-top: 50px;
}

#message {
  margin-top: 10px;
  margin-right: 75px;
}

#bye{
  margin-top: 25px;
}

#mainpfp {
  height: 45px;
  margin-left: 15px;
  margin-top: 17px;
}

.topbar {
  display: flex;
}

.rightmost {
  display: flex;
  flex-direction: column;
}

.mails {
  margin-top: 45px;
}

.mails img {
  width: 1000px;
  border-bottom: 1px solid gray;

}

#hotelpic {
  height: 250px;
  margin-top: 30px;
}

.scarves {
  display: flex;
  flex-direction: row;
  margin-top: 40px;
}

#scarf1 {
  height: 150px;
}

#scarf2 {
  height: 150px;
}

#scarf3 {
  height: 150px;
}

#macys {
  margin-top: 50px;
  height: 50px;
}
